    .Main {
        margin-left: 10%;
        width: 80%;
        height: 300px;
        background-color: red;
        border: solid 5px #000;
        .para1{
        background-color: rgb(23, 129, 94);
        font-size: 14px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
        }
        .para2{
            background-color: rgb(190, 202, 17);
            font-size: 14px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
        }
        .para3{
            background-color: rgb(223, 23, 163);
            font-size: 14px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
        }
    }